.Comments {
    @extend %Wrapper;
    padding: 0 2rem 3rem;

    @include tablet {
        padding: 0 2rem 6rem;
    }

    p,
    ul,
    ol {
        @include font(sans, 1, 400);
        line-height: 1.75;
        margin-bottom: 1.5em;
        margin-top: 0;
        @include tablet {
            @include font(sans, 1.5, 300);
        }
    }

    .logged-in-as a {
        @extend %Link;
    }

    #comments {
        clear: both;
        padding: 0;
    }

    .comments-title {
        font-size: 20px;
        font-size: 1.25rem;
        margin-bottom: 1.5em;
    }

    .comment-list,
    .comment-list .children {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .comment-list li:before {
        display: none;
    }

    .comment-body {
        margin-left: 4rem;
    }

    .comment-author {
        font-size: 16px;
        font-size: 1rem;
        margin-bottom: 0.4em;
        position: relative;
        z-index: 2;
    }

    .comment-author .avatar {
        left: -65px;
        position: absolute;
        width: 50px;
    }

    .comment-author .says {
        display: none;
    }

    .comment-meta {
        margin-bottom: 1.5em;
    }

    .comment-metadata {
        font-size: 10px;
        font-size: 0.875rem;
        text-transform: uppercase;
    }

    .comment-metadata a {
        color: #767676;
    }

    .comment-metadata a.comment-edit-link {
        color: #222;
        margin-left: 1em;
    }

    .comment-body {
        color: #333;
        font-size: 14px;
        font-size: 0.875rem;
        margin-bottom: 4em;
    }

    .comment-reply-link {
        @extend .Button;
    }

    .comment-reply-link .icon {
        color: #222;
        left: -2em;
        height: 1em;
        position: absolute;
        top: 0;
        width: 1em;
    }

    .children .comment-author .avatar {
        height: 30px;
        left: -45px;
        width: 30px;
    }

    .bypostauthor>.comment-body>.comment-meta>.comment-author .avatar {
        border: 1px solid #333;
        padding: 2px;
    }

    .no-comments,
    .comment-awaiting-moderation {
        color: #767676;
        font-size: 14px;
        font-size: 0.875rem;
        font-style: italic;
    }

    .comments-pagination {
        margin: 2em 0 3em;
    }

    .form-submit {
        text-align: left;
    }

    a.url,
    .must-log-in a {
        @extend %Link;
    }

    label {
        @include font(sans, 1.25, 400);
    }
}
