.Comments {
    @extend %Wrapper;
    padding: 0 2rem 3rem !important;

    @include tablet {
        padding: 0 2rem 6rem !important;
    }

    p,
    ul,
    ol {
        @include font(sans, 1, 400);
        line-height: 1.75;
        margin-bottom: 0.5em;
        margin-top: 0;
        @include tablet {
            @include font(sans, 1.25, 300);
        }
    }

    .logged-in-as a {
        @extend %Link;
    }

    #comments {
        clear: both;
        padding: 0;
    }

    .comments-title,
    .comment-reply-title {
        @include font(sans, 2, 400);
        margin-bottom: 1em;
    }

    .comment-list,
    .comment-list .children {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .comment-list .children {
        text-align: right;
    }

    .comment-list {
        margin-bottom: 2rem;

        @include tablet {
            margin-bottom: 4rem;
        }
    }

    .comment-list li:before {
        display: none;
    }

    .comment-author {
        font-size: 16px;
        font-size: 1rem;
        margin-bottom: 0.4em;
        position: relative;
        z-index: 2;
    }

    .comment-author .avatar {
        float: left;
        margin-right: 1rem;
        position: static;
        width: 64px;
    }

    .children .comment-author .avatar {
        float: right;
        margin-left: 1rem;
        margin-right: 0;
    }

    .comment-author .says {
        display: none;
    }

    .comment-meta {
        margin-bottom: 1.5em;
    }

    .comment-metadata {
        @include font('sans', 0.875, 300);
        text-transform: uppercase;
    }

    .comment-metadata a {
        color: #767676;
    }

    .comment-metadata a.comment-edit-link {
        color: #222;
        margin-left: 1em;
    }

    .comment-body {
        color: #333;
        font-size: 14px;
        font-size: 0.75rem;

        &:last-child {
            margin-bottom: 0;
        }
    }

    .comment-reply-link {
        @extend .Button;
        font-size: 1.25em !important;
        padding: 0.5em !important;
        text-align: center;

        @include tablet {
            min-width: 10em;
        }
    }

    .comment-reply-link .icon {
        color: #222;
        left: -2em;
        height: 1em;
        position: absolute;
        top: 0;
        width: 1em;
    }

    .children .comment-author .avatar {
        height: 64px;
        width: 64px;
    }

    .no-comments,
    .comment-awaiting-moderation {
        color: #767676;
        font-size: 14px;
        font-size: 0.875rem;
        font-style: italic;
    }

    .comments-pagination {
        margin: 2em 0 3em;
    }

    .form-submit {
        text-align: left;
    }

    a.url,
    .must-log-in a {
        @extend %Link;
        @include font('sans', 1, 300);
    }

    label {
        @include font(sans, 1.25, 300);
    }

    .comment-list {
        border: 1px solid palette(primary);
    }

    .comment-list .children {
        margin: 0;
    }

    .comment-body {
        margin: 0;
        padding: 1rem 0;

        @include tablet {
            padding: 2rem 0;
        }
    }

    ol.children {
        border-top: 1px dashed palette(primary, low);
    }

    .children .comment {
        padding: 0;
    }

    li.comment.depth-1 {
        border-bottom: 1px solid palette(primary);
    }

    .comment {
        padding: 0 1rem;
        margin-bottom: 0;

        @include tablet {
            padding: 0 2rem;
        }
    }

    .comment.thread-even.depth-1  {
        background: lighten(palette(light, high), 4%);

        &:last-child {
            border: 0;
        }
    }

    .comment.thread-odd.depth-1 {
        background: lighten(palette(light, high), 8%);

        &:last-child {
            border: 0;
        }
    }

    .comment-respond {
        background: lighten(palette(light, high), 4%);
        border: 1px solid palette(primary);
        padding: 4rem 4rem 2rem;
    }

    textarea,
    input[type='text'],
    input[type='email'],
    input[type='url'] {
        background: #fff;
    }

    #cancel-comment-reply-link {
        @extend %Link;
        display: inline-block;
        font-size: 1rem;
        font-weight: 300;
        margin-left: 0.5rem;
    }
}
