.Post {
    @extend %Wrapper;

    &:not(.Post--contact) p:first-of-type::first-letter {
        @include font(serif, 3.5, 700);
        color: palette(secondary);
        display: block;
        float: left;
        font-style: italic;
        line-height: 1;
        margin: 0 0.125em 0 0;

        @include tablet {
            @include font(serif, 5.5, 700);
        }
    }

    p,
    ul {
        @include font(sans, 1, 400);
        line-height: 1.75;
        margin-bottom: 1.5em;
        margin-top: 0;

        @include tablet {
            @include font(sans, 1.375, 300);
        }
    }

    p:last-of-type {
        margin-bottom: 0;
    }

    pre {
        font-size: 1.5em;
    }

    a {
        @extend %Link;
    }

    &--resume {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        @include tablet {
            flex-direction: row;
        }
    }

    &__column {
        width: 100%;
        text-align: center;

        @include tablet {
            text-align: left;
            width: 45%;
        }
    }
}
