h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 600;
    margin-bottom: 1em;
    margin-top: 0;
}

h1,
.Title--h1 {
    font-size: 2em;
    margin-top: 0;

    @include tablet {
        font-size: 2.5em;
    }
}

h2,
.Title--h2 {
    font-size: 1.875em;

    @include tablet {
        font-size: 2.25em;
    }
}

h3,
.Title--h3 {
    font-size: 1.75em;

    @include tablet {
        font-size: 2em;
    }
}

h4,
.Title--h4 {
    font-size: 1.5em;
}

h5,
.Title--h5 {
    font-size: 1.25em;
}

h6,
.Title--h6 {
    font-size: 1em;
}
