$color-blossom: #2c8898;
$color-fade: #982c61;
$color-bg-low: #ffffff;
$color-bg: #f9f9f9;
$color-bg-high: #eaeaea;
$color-base-blue: #2c8898;
$color-base-grey: #332f2f;
$color-base-red: #EA5E63;

$transition: all 0.15s ease;

$sans: 'Montserrat', sans;
$serif: 'Georgia', serif;

$tablet-width: 650px;
$desktop-width: 1024px;
