.Breadcrumbs {
    padding: 4rem 0;
    text-align: center;

    &__list {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    &__item {
        display: inline-block;
        padding: 0 1em;
    }

    &__link {
        border: 0 !important;
        @include font(sans, 1.5, 300);
        @extend %Link;
    }
}
