%Button {
    @extend %Link;
    @include font(sans, 1.5, 300);
    background: palette(primary);
    color: palette(light);
    display: block;
    padding: 1em;
    transition: $transition;

    @include tablet {
        background: palette(primary);
        display: inline-block;
        padding: 0.5em 2em;
    }

    &:hover,
    &:focus {
        background: palette(primary, low);
        color: palette(light);
    }
}

.Button {
    @extend %Button;
}
