.Footer {
    background: palette(light, high);
    padding: 0 2rem;
    text-align: center;

    @include tablet {
        padding: 4rem;
    }

    &__container {
        @extend %Wrapper;
    }

    &__text {
        @include font(serif, 1, 400);
        margin-bottom: 1em;

        @include tablet {
            @include font(serif, 1.5, 400);
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__link {
        border-bottom: 1px solid currentColor;
        @extend %Link;
    }
}
