.HeaderWrapper {
    display: flex;
    flex-direction: column;
    height: 10vh;
    justify-content: center;
    margin: 0 auto;
    max-width: 100%;
}

.Header {
    padding: 0 2rem;

    @include desktop {
        padding: 0 3rem;
    }
}

.Navigation {
    align-items: flex-end;
    display: flex;
    justify-content: space-between;
}

.SiteName,
.MenuLinks {
    line-height: 1;
}

.SiteName {
    &__title {
        @include font('sans', 1.5, 200);
        letter-spacing: 1px;
        margin: 0;
        padding: 0;
    }

    &__link {
        border: 0;
        color: palette(secondary, base);
        text-decoration: none;

        &:hover {
            border-bottom: 1px solid palette(primary, base);
            color: palette(primary, base);
        }
    }
}

.MenuLinks {
    &__list {
        display: flex;
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    &__item {
        margin: 0 0.5em;
        padding: 0;
    }

    &__link {
        @include font('sans', 1, 200);
        border: 0;
        color: palette(primary, base);
        text-decoration: none;

        &:focus,
        &:visited {
            color: palette(primary, base);
        }

        &:hover {
            border-bottom: 1px solid currentColor;
            color: palette(secondary, base);
        }
    }
}
