.Heading {
    $root: &;
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    position: relative;

    &--alt {
        flex-direction: row-reverse;
    }

    &--singlePost {
        align-items: center;
        display: flex;
        height: 40vh;
        justify-content: center;
        width: 100%;

        @include tablet {
            height: 90vh;
        }
    }

    &__credits {
        bottom: 4vh;
        display: none;
        position: absolute;
        text-align: center;

        @include tablet {
            display: block;
        }
    }

    &__titleGroup {
        padding: 2em;
        text-align: center;
        width: 100%;

        @include desktop {
            padding: 4em;
            text-align: right;
            width: 50%;
        }

        #{$root}--singlePost & {
            display: inline-block;
            text-align: center;

            @include tablet {
                margin-top: -5rem;
                position: relative;
            }
        }

        #{$root}--alt & {
            @include tablet {
                text-align: left;
            }
        }
    }

    &__titleGroupContent {
        padding: 1rem;
    }

    &__title {
        #{$root}--singlePost & {
            background: rgba(palette(light), 0.8);
            color: palette(dark);
            display: inline-block;
            font-weight: 300;
            margin: 0;
            padding: 0.5em 1em;

            @include tablet {
                margin-bottom: 0.67em;
                margin-top: 1.25em;
            }
        }
    }

    &__featuredImage {
        display: none;

        @include tablet {
            display: block;
            width: 50%;
        }

        #{$root}--singlePost & {
            width: 100%;
        }
    }
}
