.Heading {
    $root: &;
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    position: relative;

    &--alt {
        flex-direction: row-reverse;
    }

    &--singlePost {
        align-items: center;
        display: flex;
        height: 40vh;
        justify-content: center;
        width: 100%;

        @include tablet {
            height: 90vh;
        }
    }

    &__credits {
        bottom: 4vh;
        display: none;
        position: absolute;
        text-align: center;

        @include tablet {
            display: block;
        }
    }

    &__titleGroup {
        text-align: center;

        @include tablet {
            text-align: right;
            width: 100%;
        }

        #{$root}--singlePost & {
            display: inline-block;
            padding: 2em;
            text-align: center;

            @include tablet {
                margin-top: -5rem;
                padding: 2em;
                position: relative;
                width: 100%;
            }

            @include desktop {
                padding: 4em;
                width: 75%;
            }
        }

        #{$root}--alt & {
            @include tablet {
                text-align: left;
            }
        }
    }

    &__titleGroupContent {
        background: rgba(palette(light), 0.9);
        padding: 2rem;

        @include tablet {
            padding: 2rem 4rem;
        }

        #{$root}--singlePost & {
            padding: 1rem;
        }
    }

    &__title {
        #{$root}--singlePost & {
            color: palette(dark);
            display: inline-block;
            font-weight: 300;
            margin: 0;
            padding: 0.5em 1em;

            @include tablet {
                margin-bottom: 0.5em;
                margin-top: 0em;
            }
        }
    }

    &__date {
        margin-top: 0.5rem;
        @include font(sans, 1, 300);

        @include desktop {
            @include font(sans, 1.25, 200);
        }
    }

    &__featuredImage {
        display: none;

        @include tablet {
            display: block;
            width: 100%;
        }

        #{$root}--singlePost & {
            width: 100%;
        }
    }
}
