.List {
    list-style-type: none;
    margin: 0 0 1.5em;
    padding: 0;

    .Post--resume & {
        margin-bottom: 3em;
    }

    @include tablet {
        list-style-type: disc;
        margin: 0 0 1.5em 1em;
    }
}
