.u-strong {
    font-weight: 400;
}

.u-visible {
    opacity: 1;
}

.u-center {
    text-align: center;
}

.u-mobile-only {
    display: block;

    @include tablet {
        display: none;
    }
}

.u-mobile-hidden {
    display: none;

    @include tablet {
        display: block;
    }
}

.screen-reader-text {
    clip-path: polygon(0px 0px, 0px 0px,0px 0px, 0px 0px);
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    position: absolute !important;
    white-space: nowrap;
    width: 1px;
}
